body{
	background: #2a2828;
    font-family: "Trebuchet MS";
    color: #fff;
    font-size: 18px;
}

.fishfood
{
	width: 940px;
    margin: auto;
}

.fishfood .top
{
	width: 940px;
    height: 25px;
    margin: auto;
    border-bottom: solid 1px #fff;
    padding-bottom: 5px;
}

.fishfood .top .login
{
	color: #D3D3D3;
    float: right;
    width: 540px;
    font-size: 12px;
}

.fishfood .loginbutton
{
	width: 100px;
    height: 25px;
    border-radius: 3px;
    background: #332E2E;
    line-height: 25px;
    text-align: center;
    margin: 0 0 0 10px;
    cursor: pointer;
    float: right;
}

.fishfood .menu
{
    width: 650px;
    height: 35px;
    margin: auto;
    padding-bottom: 10px;
    clear: both;
}

.fishfood .menu ul
{
    list-style: none;
}

.fishfood .menu ul li
{
    float: left;
    width: 200px;
    height: 35px;
}

.fishfood .menu ul li a
{
    color: white;
    text-decoration: none;
    background: transparent;
    float: left;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.fishfood .menu ul li a:hover
{
    color: #D3D3D3;
    text-decoration: none;
    background: #476eed;
}

.fishfood .main
{
    margin: auto;
    width: 100%;
}

.fishfood .main .maintop
{
    background: #476eed;
    height: 72px;
}

.fishfood .main .maintop .download
{
    margin: auto;
    width: 400px;
    height: 70px;
    padding-right: 70px;
    background: url('images/download.png') no-repeat center right;
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    float: right;
    line-height: 70px;
    margin-right: 10px;
}


.fishfood .fieldset
{
	width: 200px;
    padding: 10px;
    border-radius: 3px;
}

.fishfood .success
{
    top: 25%;
	width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px inset;
    display: none;
    margin: auto;
    position: absolute;
    text-align: center;
    line-height: 50px;
}

.fishfood .login input, select
{
    border-radius: 3px;
    background: gray;
    color: #332E2E;
    height:20px;
    border: solid 1px #D3D3D3;
    margin-left: 5px;
}

.fishfood .settings
{
	height: 25px;
	width: 95%;
	/*box-shadow: -1px 0 8px inset;*/
	background: #332E2E;
}

.fishfood .settings h1
{
	line-height: 25px;
    font-size: 12px;
    width: 180px;
    float: left;
    height: 25px;
    margin: 0 0 0 5px;
}

.fishfood .settings .setimg
{
	height: 25px;
	width: 25px;
	background: url(../images/settings.png) no-repeat center;
	float: right;
}

.fishfood .config
{
	height: 0px;
	width: 250px;
	background: black;
	box-shadow: -1px 1px 8px #170c0c inset;
    overflow: hidden;
    color: #fff;
	z-index: 9999;
}

.fishfood .config .item
{
	font-size: 12px;
    font-weight: bold;
    position: relative;
    margin-left: 5px;
}

.fishfood h1
{
	font-family: "Trebuchet MS";
}

.fishfood .entry
{
	width: 95%;
	height: 25px;
	border-top: solid 1px gray;
    margin: 0;
    padding-top: 2px;
	/*box-shadow: -1px 0 5px inset;*/
}

.fishfood .entry p
{
	color: #D3D3D3;
	font-family: "Trebuchet MS";
	margin: 0;
	height: 35px;
	line-height: 25px;
	padding: 0 0 0 10px;
	width: 90%;
	float: left;
}

.fishfood .entry .del, .edit
{
	width: 25px;
	height: 25px;
	float: right;
	margin-left: 2px;
}

.fishfood .entry .del
{
	background: url(../images/delete.png) no-repeat center;
}